<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашнее задание 4</title>
    <link href="./styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
</head>

<body>
<div>
    <div class="homepage center">
        <div class="header">
            <a href="./books">Главная</a>
            <a href="./books">Каталог книг</a>
            <a href="./reader">Читатели</a>
            <a href="./issues">Список выдачи книг</a>
            <h1>Список выдачи книг</h1><br>
        </div>
    </div>
    <div class="top">
        <table>
            <tr>
                <th>Книга</th>
                <th>Читатель</th>
                <th>Дата выдачи</th>
                <th>Дата возврата</th>
            </tr>
            <tr th:each="issue: ${issues}">
                <td th:text="${issue.getBookId()}"></td>
                <td th:text="${issue.getReaderId()}"></td>
                <td th:text="${issue.getIssued_at().toLocalDate()}"></td>
                <td th:text="${issue.getReturned_at().toLocalDate()}"
                    th:if="${issue.getReturned_at()}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>